body{
    background-color: hsl(0, 0%, 23%);
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 4rem);
    padding: 2rem 0rem;
}

.wrapper{
    background-color: hsl(180, 2%, 13%);
}

.wrapper *{
    width: 100%;
}

.login-form,
.registration-form{
    padding: 2rem;
    min-width: 50vw;
    display: grid;
    row-gap: 20px;
}

.title{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 96%);
}

.footer{
    padding: 0 2rem 2rem 2rem;
    min-width: 50vw;
}

.form-group {
    position: relative;
}

.form-label{
    position: absolute;
    top: -10px;
    left: 7px;
    width: auto;
    padding: 0 0.3rem;
    background: hsl(180, 2%, 13%);
    color: hsl(0, 0%, 96%);
}

.names{
    display: flex;
    gap: 10px;
}

.password,
.username,
.new-user-firstname,
.new-user-lastname,
.new-user-email,
.new-user-username,
.new-user-password,
.new-user-confirm-password{
    border: 2px solid hsl(173, 52%, 53%);
    outline: none;
    background: none;
    height: 3rem;
    color: hsl(0, 0%, 96%);
    padding: 0 0.5rem;
}

.form-btn{
    outline: none;
    border: none;
    padding: 0.5rem;
    height: 4rem;
    font-size: 1rem;
    font-weight: bold;
    color:hsl(180, 2%, 13%);
    text-transform: uppercase;
    background-color: hsl(173, 52%, 53%);
    cursor: pointer;
}

.form-btn:active{
    color: hsl(0, 0%, 96%);
    transform: scale(0.95);
}

.auth-link{
    color: hsl(173, 52%, 53%);
}