@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=Lato:wght@100;300;400;700;900&display=swap');

@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-light-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-light-pro.woff") format("woff");
    font-weight:300;
    font-style:normal
}
    
@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-light-italic-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-light-italic-pro.woff") format("woff");
    font-weight:300;
    font-style:italic
}

@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-regular-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-regular-pro.woff") format("woff");
    font-weight:400;
    font-style:normal
}

@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-medium-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-medium-pro.woff") format("woff");
    font-weight:500;
    font-style:normal
}

@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-bold-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-bold-pro.woff") format("woff");
    font-weight:600;
    font-weight:bold;
    font-style:normal
}

@font-face{
    font-family:"apercu";
    src:url("https://assets.awwwards.com/assets/fonts/apercu/apercu-black-pro.woff2") format("woff2"),
        url("https://assets.awwwards.com/assets/fonts/apercu/apercu-black-pro.woff") format("woff");
    font-weight:800;
    font-style:normal
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 68%);
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Cabin', sans-serif;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(0, 0%, 23%);
    height: 4rem;
}

.menu-bio{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.menu-bio * {
    color: hsl(0, 0%, 96%)
}

.language{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.language h4{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.home-bio {
    justify-self: center;
}

nav.menu-bio{
    border-bottom: 1.5px solid hsl(0, 0%, 26%);
}

nav.menu-nav{
    border-bottom: 1.5px solid hsl(0, 0%, 26%);
}

.menu-home{
    display: flex;
    align-items: center;
    height: 100%;
}

.logo{
    padding: 0 0.4rem;
}

.logo svg{
    fill:hsl(0, 0%, 96%);
}

.menu-socials{
    padding: 0 0.5rem;
    justify-self: flex-end;
}

.register{
    color:hsl(0, 0%, 96%);
}

.home-link{
    display: flex;
    gap:10px;
    height: 100%;
    border-right: 1.5px solid hsl(0, 0%, 26%);
    font-family: 'Lato', sans-serif;
}

.home-link,
.search-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    height: 100%;
}

.search-link{
    background: hsl(0, 0%, 33%);
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.search-link input {
    height: 100%;
    font-size: 1.1rem;
}

.search-input{
    border: none;
    outline: none;
    padding: 1rem 0;
    width: 8rem;
    background: none;
    color: hsl(0, 0%, 96%);
}

.nav-menu{
    height: 100%;
    display: flex;
    align-items: center;
    gap:30px;
}

.profile{
    text-transform: uppercase;
}

.nav-post{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(180, 2%, 13%);
    height: 100%;
    padding: 0 0.5rem;
}

.post-project{
    color: hsl(0, 0%, 96%);
    text-transform: uppercase;
}

.tooltip{
    font-size: 1.3rem;
}

.profile-options{
    padding: 0.5rem;
    background-color: hsl(180, 2%, 13%);
    transition: 0.2s ease;
    color: hsl(0, 0%, 68%);
}

.profile-options:hover{
    color: hsl(0, 0%, 96%);
}

.dropdown-btn{
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    height: 100%;
    font-weight: bold;
    color: hsl(0, 0%, 96%);
    text-transform: uppercase;
    background-color: hsl(0, 0%, 23%);
    cursor: pointer;
}

/* Dropdown */
.dropdown-menu.items{
    display: grid;
    gap: 10px;
}

.dropdown{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + 1.05rem);
    background-color: hsl(0, 0%, 26%);
    padding: 1rem;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    z-index: 100;
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.active > .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* django flash Messages */
.flash-message.modal{
    display: grid;
    gap: 0.8rem;
    color: hsl(219, 15%, 95%);
    position: fixed;
    padding: 1rem 1rem;
    top: 50%;
    left: 50%;
    min-width: 10rem;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 5000;
    transition: 200ms ease-in-out;
    font-size: 1.5rem;
}

.inactive{
    opacity: 0;
    pointer-events: none;
}

.success{
    background-color: rgba(45, 185, 45, 0.719);
}

.danger{
    background-color: rgba(235, 38, 38, 0.836);
}

.modal-btn{
    background-color: hsl(180, 2%, 13%);
    color: hsl(173, 52%, 53%);
    height: 3rem;
    font-weight: 500;
    outline: none;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.flash-tooltip{
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s;
}

.flash-tooltip:hover{
    transform: rotate(90deg);
}

@media screen and (max-width: 720px) {
    body{
        font-size: 14px;
    }

    .menu-bio{
        display: none;
    }

    .search-link input{
        width: 3rem;
    }

}


@media screen and (max-width: 590px) {
    .nav-post{
        display: none;
    }
}