
.profile-container{
    padding: 2rem 1rem;
}

.profile-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.profile-links,
.profile-edit{
    display:flex;
    gap: 20px;
    justify-content: center;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40px;
    height: 40px;
    border: 2px solid hsl(0, 0%, 68%);
    border-radius: 50%;
    transition: 300ms ease;
    cursor: pointer;
    color: hsl(0, 0%, 68%);
}

.link:hover{
    border: 2px solid hsl(173, 52%, 53%);
    color: hsl(173, 52%, 53%);
}

.follow.link{
    width: auto;
    border-radius: 20px;
}

.profile-user{
    display: grid;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.profile-logo{
    padding: 2rem;
    background-color: hsl(173, 52%, 53%);
    border-radius: 50%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
}

.profile-edit{
    display:flex;
    justify-content: center;
    width: auto;
}

.title{
    width: 100%;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: hsl(0, 0%, 96%);
    margin-top: 2rem;
    margin-bottom: -1rem;
}


@media screen and (max-width: 982px) {
    .profile-wrapper{
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }
}

