{% extends 'main.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/login_register.css' %}">
{% endblock %}

{% block content %}
{% if page == 'login' %}
    <div class="login">
        <form action="" class="auth-form" method="POST">
            {% csrf_token %}
            <h4>LOGIN FORM</h4>
            <div class="form-group">
                <label class="form-label" for="username">Username</label>
                <input type="text" class="username" id="username" name="username" placeholder="Enter Username">
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input type="password" class="password" id="password" name="password" placeholder="Enter Password">
            </div>
            <input class="form-btn" type="submit" value="Login">
        </form>

        <div class="footer">
            <span>Havent signed up yet?</span>
            <span> <a class='auth-link' href="{% url 'register' %}">Sign-Up</a> </span>  
        </div> 
    </div>

{% else %}

    <div class="register">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="form-btn" type="submit" value="Register">
        </form>
        
        <div class="footer">
            <span>Already signed up?</span>
            <span> <a class='auth-link' href="{% url 'login' %}">Login</a> </span>  
        </div> 
    </div>

{% endif %}
{% endblock %}