{% extends 'main.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block content%}
    <section class="profile-container">
        <article class="profile-wrapper">
            <div class="profile-links">
                <div class="facebook link"><i class='bx bxl-facebook tooltip'></i></div>
                <div class="instagram link"><i class='bx bxl-instagram tooltip' ></i></div>
                <div class="linkedln link"><i class='bx bxl-linkedin-square tooltip' ></i></div>
                {% if request.user.is_authenticated %}
                <div class="follow link">{{ followers.count }} Followers</div>
                {% else %}
                <div class="follow link">follow</div>
                {% endif %}
            </div>
            <div class="profile-user">
                <div class="profile-logo">{{ user.user_profile.username }}</div>
                <div class="user-bio">
                    {{ user.user_profile.bio }}
                </div>
            </div>
            <div class="profile-options">
                <div class="follow link">Edit Profile</div>
            </div>
        </article>
        <div class="title">Your Projects</div>
        <article class="projects">
            {% for project in projects %}
                {% include 'base/projects_component.html' %}
            {% endfor %}
        </article>
    </section>
{% endblock %}